---
title: 分类浏览
layout: default
group: navigation
---

<div class="container">
  <div class="col-md-3">
    <ul class="nav">
      {% assign categories_list = site.categories %}
      {% include categories_list %}
    </ul>
  </div>

  <div class="col-md-9">
    {% for post in site.posts limit:number_of_excerpts %}
    <div class="well post">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

    {{ post.excerpt | markdownify }}

    <p><a href="{{ post.url }}">{{ news.continue }}</a></p>

    <p class="post-info">{{ post.date | date_to_string | posted_by:post.author }}</p>
    </div>
    {% endfor %}
  </div>

</div>
