/*
 *  文章列表
**/
ul.posts, ul.posts li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul.posts li {
  margin-bottom: 20px;
}
ul.posts .datetime {
  color: #999;
  display: inline-block;
  float: right;
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  vertical-align: baseline;
  width: 130px;
}

/* footer */
footer p {
 text-align: center;
 color: #666;
}

/* media */
.media {
  margin-top: 30px;
}
.media img {
  width: 144px;
  height: 80px;
}

