
ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.posts li {
  margin-bottom: 20px;
}
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right;
}

/* media */
.media {
  margin-top: 30px;
}
.media img {
  width: 144px;
  height: 80px;
}


html {
  position: relative;
  min-height: 100%;
  height: auto;
}

body {
  margin-bottom: 180px;
  height: auto;
}

.container {
  margin-left: 12%;
  margin-right: 12%;
}

#main {
  margin-bottom: 200px;
}

#footer {
  background-color: #f5f5f5;
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;

  padding-top: 20px;
}
