/*
 *  文章列表
**/

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.posts li {
  margin-bottom: 20px;
}
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 130px;
  text-transform: uppercase;
  float: right;
  color: #999;
  font-size: 10px;
  text-align: right;
}

.container {
  width: 750px;
}

/* footer */
footer p {
 text-align: center;
 color: #666;
}

/* media */
.media {
  margin-top: 30px;
}
.media img {
  width: 144px;
  height: 80px;
}
