<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div id="wrap">

    <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">新声音</a>
      </div>
      <ul class="nav navbar-nav">
        {% include nav %}
      </ul>
    </div>
    </div>

    {{ content }}

    </div>

    <div id="footer">
        <div class="container">
          <div class="row">
            <ul class="col-md-4 list-unstyled">
              {% assign pages_list = site.categories.about %}
              {% include JB/pages_list %}
            </ul>


            <ul class="col-md-4 list-unstyled">
              <li><a href="http://blog.xinshengyin.com/">企业博客</a></li>
            </ul>

            <ul class="col-md-4 list-unstyled">
              <li><a>给我们提建议</a></li>
              <li>关注我们</li>
            </ul>
          </div>
        <p class="text-center text-muted">&copy; {{ site.time | date: '%Y' }} {{ site.author.e-name }} All rights reserved.  </p>
        <p class="text-center text-muted"> {{ site.author.name }} 版权所有</p>
    </div>

    {% include JB/analytics %}
  </body>
</html>
