<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </head>

  <body>


  <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">新声音</a>
    </div>
    <ul class="nav navbar-nav">
      {% include nav %}
    </ul>
  </div>
  </div>

  {{ content }}

  <div class="footer">
      <div class="container">
      <p class="text-center text-muted">&copy; {{ site.time | date: '%Y' }} www.xinshengyin.com All rights reserved.  </p>
      <p class="text-center text-muted">版权所有</p>
  </div>

  {% include JB/analytics %}
  </body>
</html>
