---
layout: default
---


<div class="container">

<div class="row">



  <div class="col-md-2"></div>

  <div class="col-md-8">
    <ul class="breadcrumb">
      <li><a class="" href="/blog.html">观点</a></li>
      <li class="active">{{ page.title }}</li>
    </ul>
    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <ul class="list-unstyled">
      {% assign pages_list = site.categories.news %}
      {% include JB/pages_list %}
    </ul>
  </div>

  <div class="col-md-2">

  </div>

</div>
</div>
